.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-img {
  height: auto;
  width: 100%;
}
.patient-img {
  height: auto;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section-text {
  height: 100%;
  width: 100%;
}
.tagline-text {
  font-size: 56px;
  padding: 20px;
  margin: auto;
  width: 50%;
}

hr {
  height: 9px;
  background-color: #43a694;
}

.section-images {
  width: 100%;
  background-color: #f5f1f1;
  padding-bottom: 20px;
}

/* @media only screen and (max-width: 572px) {
  .tagline-text {
    font-size: 22px;
    padding: 20px;
    margin: auto;
    width: 50%;
  }
} */
