.nolist {
  list-style: none;
}
.sidebar-wrapper {
  max-width: 295px;
  margin-bottom: 50px;
}
.sidebar > a {
  color: #ffbb33;
  /* display: flex;
  justify-content: center; */
}

/* @media (max-width: 991px) {
  .sidebar-wrapper {
    width: 100%;
    max-width: 992px;
    margin-bottom: 0;
  }
} */
.sidebar-wrapper > ul li {
  font-size: 1.8rem;
  font-weight: 500;
}
.sidebar-wrapper > ul > li {
  border-top: 1px solid #e9e7e7;
  font-weight: 500;
}
.sidebar-wrapper nav > ul {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
}
.sidebar-wrapper nav > ul li {
  font-size: 1.2rem;
  font-weight: 400;
}
.sidebar-wrapper nav > ul > li {
  border-top: 1px solid #e9e7e7;
  font-weight: 500;
}
.sidebar-wrapper nav > ul > li:first-child {
  border: 0;
}
.sidebar-wrapper nav > ul > li > a {
  color: white;
  display: block;
  padding: 20px 20px;
}
.sidebar-wrapper nav > ul > li > a:hover {
  color: whitesmoke;
  background: #ed145b;
}

select#sub-menu {
  width: 100%;
  height: 55px;
  color: #000;
  margin: 15px 0;
  padding: 13px;
  border: 1px solid #333;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  text-overflow: "";
  background: url(https://raw.githubusercontent.com/solodev/mobile-sidebar-navigation/master/drop-arrow.png)
    right no-repeat;
}
select#sub-menu,
select#sub-menu > option {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 28px;
}
select#sub-menu,
select#sub-menu > option {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 28px;
}

aside {
  background-color: #247d6d;
  color: white;
}

img {
  /* border-radius: 50%; */
  /* height: auto; */
  /* display: inline-block; */
  margin-top: 15px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  /* display: block; */
  margin: auto;
}

/* @media only screen and (max-width: 700px) {
  img {
    border-radius: 50%;
    margin-top: 15px;
  }
} */

.sidebar > a {
  /* background-color: #e9e7e7; */
  border: 1px solid black;
}
